<svg class="Primer-Plot"
  width={{width}}
  height={{height}}
  viewBox={{viewBox}}
  aria-labelledby={{ariaLabelledBy}}
  role={{role}}>

  {{#if title}}<title>{{title}}</title>{{/if}}
  {{#if desc}}<desc>{{desc}}</desc>{{/if}}

  {{#if contentRect.client}}
    {{#primer-container
      width=width
      height=height
      cursorPosition=cursorPosition
      update-cursor-position=(action "updateCursorPosition")
      update-brush-extent=(action "updateBrushExtent")
    as |primer rect|}}
      {{yield primer rect}}
    {{/primer-container}}
  {{/if}}
</svg>